* {
  transition: 0.2s ease-in-out all;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: $primary;
}

a, span {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;

    a {
      display: block;
    }
  }
}

.btn {
  min-width: 160px;
  height: 48px;
  line-height: 33px;
  font-size: 14px;
  @include border-radius(35px, 35px, 35px, 35px);
  @include box-shadow(0px, 2px, 8px, rgba(63, 63, 63, 0.3));

  &.btn-primary {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }

  &.btn-outline-primary {
    border-color: $dark-blue;
    color: $dark-blue;

    &:hover {
      background-color: $dark-blue;
      color: $white !important;
    }
  }

  &.btn-warning {
    background-color: $orange;
    border-color: $orange;

    color: $white;
  }

  &.btn-lg {
    height: 56px;
    font-size: 16px;
  }
}

.custom-dropdown {
  padding-right: 16px;
  min-width: 50px;
  background: url(../../images/down-arrow-stone.svg) center right no-repeat;

  .active-item {
    color: $stone-grey;
  }

  ul {
    background: $white;
    width: 130px;
    @include border-radius(4px, 4px, 4px, 4px);
    @include box-shadow(0, 0, 3px, $light-grey);
    position: absolute;
    display: none;
    
    li {
      display: block;
      cursor: pointer;
      padding: 10px 15px;
      color: $stone-grey;

      &:hover {
        background-color: $light-grey;
      }
    }
  }

  &:hover {
    ul {
      display: block;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 10px;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;  
}