footer{
	background-color: $dark-blue;
	padding-top: 80px;
	padding-bottom: 30px;

	h3{
		font-size: 22px;
		color: $white;
	}

	ul{
		li{
			display: block;
			color:$white;
			a{
				color: $white;
				
				&:hover{
					color:$white;
				}
			}
		}
	}
}